
<div class="card mx-3 border-0 mt-3 bg-transparent" >
  <img src="./assets/uploads/main-store.jpg"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title text-center">Store details</h5>
    <p class="card-text">
      <span>{{productsCount}} available products in our store</span><br/>
      <span>{{orderCount}} orders submitted in our store</span>
    </p>
  </div>

  <section *ngIf="clientDetails" class="text-danger">
    Notification: <br/>
    Hello {{clientDetails.firstName}},
    <div *ngIf="cart && cart.items.length > 0">
        you have open cart from {{cart.date | date}}<br/>
        <button routerLink="/store"
        class="btn btn-outline-primary mt-2 mx-auto">continue shopping</button>
    </div>
    <div *ngIf="!cart || cart.items.length === 0 ">
      <button routerLink="/store"
      class="btn btn-outline-primary my-3 mx-auto">start shopping</button>
    </div>
  </section>
</div>
