
<div class="card border-0 mt-2">
  <img src={{product.image}} class="card-img-top" alt={{product.image}}>
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text">Price: {{product.price | currency: "ILS"}}</p>


    <app-add-to-cart
      *ngIf="userRole === 1"
      [product_id]="product.id"
      [productName]="product.name">
    </app-add-to-cart>

    <div *ngIf="userRole === 2" class="row">
      <button class="btn btn-outline-primary border-0 col"
        (click)="editBtnHandler(product, 'update')"><i class="bi bi-pen"></i>
      </button>
      <button class="btn btn-outline-danger border-0 col"
        (click)="editBtnHandler(product, 'delete')"><i class="bi bi-trash"></i>
      </button>
    </div>
  </div>
</div>
