
<section class="input-group sticky-top py-2 col-2">
    <span class="input-group-text" >Category: </span>
    <select class="form-select" #chosenCategory (change)="submitCategory(chosenCategory.value)">
      <option value="*">All Products</option>
      <option *ngFor="let c of categories" value={{c.id}}>{{c.name}}</option>
    </select>
</section>

<section class="row">
  <div class="text-center mt-5" *ngIf="products.length === 0">No products available on this category</div>
  <app-item *ngFor="let p of products"
  [userRole]="userRole"
  (onEditClickHandler)="onEditClickHandler($event)"
  class="col-lg-3"
  [product]="p"></app-item>
</section>

